<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<div>
			<h2>User List</h2> 		
	</div>

	
	<!-- <a href="/logout">Logout</a><br> -->

	<table border="1">
		<tr>
			<td>NAME</td>
			<td>CONTACT</td>
			<td>USERNAME</td>
			<td>PASSWORD</td>
			<td>ACTION</td>
		</tr>
	<% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			<td><%= userlist[i].name %></td>
			<td><%= userlist[i].contact %></td>
			<td><%= userlist[i].username %></td>
			<td><%= userlist[i].password %></td>
			<td>
				<a href="/admin/editEmployee/<%= userlist[i].id %>">EDIT</a> | 
				<a href="/admin/deleteEmployee/<%= userlist[i].id %>">DELETE</a> 
			</td>
		</tr>
	<%  } %>
	</table>
	<a href="/">Back</a>

</body>
</html>